<body>
  <h2>Datos del usuario</h2>
  <h3>
    <strong>
      Nombre:
    </strong>
    <%="#{@user.profile.first_name} #{@user.profile.last_name}" %>
  </h3>

  <h3>
    <strong>
      Numbero de documento:
    </strong>
    <%="#{@user.profile.document_number}" %>
  </h3>
  <h2>Datos de Transaccion</h2>
  <table style="width:400px">
  <tr>
    <td>
      <h4>
        <strong>
          Creditos solicitados:
        </strong>
      </h3>
   </td>
    <td>
      <h5>
        <%= @credit_billing.quantity %>
      </h5>
    </td>
  </tr>
  <tr>
    <td>
      <h4>
        <strong>
          Valor credito:
        </strong>
      </h3>
   </td>
    <td>
      <h5>
        <%= @credit_billing.unit_price %>
      </h5>
    </td>
  </tr>
  <tr>
    <td>
      <h4>
        <strong>
          Subtotal:
        </strong>
      </h3>
   </td>
    <td>
      <h5>
        <%= @credit_billing.quantity * @credit_billing.unit_price %>
      </h5>
    </td>
  </tr>
  <tr>
  <tr>
    <td>
      <h4>
        <strong>
          Descuento:
        </strong>
      </h3>
   </td>
    <td>
      <h5>
        <%= @credit_billing.discount %>
      </h5>
    </td>
  </tr>
  <tr>
    <td>
      <h4>
        <strong>
          TOTAL:
        </strong>
      </h3>
   </td>
    <td>
      <h5>
        <%= @credit_billing.total_amount %>
      </h5>
    </td>
  </tr>

</table>
<h2>Pagar en:</h2>
<p>
  Informacion sobre como debe cancelar el usuario el monto
  <br/>
</p>
</body>
<h2>
  <%=link_to "Crear Factura en Alegra", create_invoice_admin_credit_billing_path(@credit_billing.id),  data: {confirm: "Esta seguro de crear esta factura"}%>
</h2>
<h2>
  <%=link_to "Enviar Factura a usuario", send_billing_admin_credit_billing_path(@credit_billing.id),  data: {confirm: "Esta seguro de enviar esta factura"}%>
</h2>
<h2>
  <%=link_to "Cancelar Envio de factura", admin_credit_billings_path%>
</h2>
