
<%= semantic_form_for @company , :url=> create_company_admin_rucom_path(:rucom_id => resource.id) do |f| %>
  <%= f.inputs  name: "Rucom seleccionado" do %>
    <h3><strong>Numero de rucom:</strong><%=resource.num_rucom%></h3>
    <h3><strong>Nombre rucom:</strong><%=resource.name%></h3>
  <% end %>
  <%= f.inputs name: "Informacion de la nueva compañia" do %>
    <%=  f.input :nit_number , label: "NIT" %>
    <%=  f.input :name, label: "Nombre" %>
    <%=  f.input :country, label: "Pais" %>
    <%=  f.input :city, label: "Ciudad" %>
    <%=  f.input :state, label: "Departamento" %>
    <%=  f.input :legal_representative, label: "Representante legal" %>
    <%=  f.input :id_number_legal_rep, label: "Id representante legal" %>
    <%=  f.input :email , label: "Email compañia" %>
    <%=  f.input :phone_number, label:"Telefono" %>
    <%=  f.input :chamber_of_commerce_file, label:"PDF camara de comercio"  %>


  <% end %>
  <%= f.actions  do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>
<% end %>

