<%= semantic_form_for @company , :url=> create_company_admin_rucom_path(:rucom_id => resource.id) do |f| %>
  <%= f.inputs  name: "Rucom seleccionado" do %>
    <h3><strong> Numero de rucom: </strong><%=resource.num_rucom%></h3>
    <h3><strong> Nombre rucom: </strong><%=resource.name%></h3>
  <% end %>
  <%= f.inputs name: "Informacion de la nueva compañia" do %>
    <%= f.semantic_errors *f.object.errors.keys %>
    <%= f.input :nit_number , label: "NIT" %>
    <%= f.input :name, label: "Nombre" %>
    <%= f.input :country, label: "Pais" %>
    <%= f.input :state, label: "Departamento" %>
    <%= f.input :city, label: "Ciudad" %>
    <%= f.inputs do %>
      <% user = f.object.legal_representative || User.new %>
      <%= f.semantic_fields_for :legal_representative, user do |user| %>
        <%= user.input :first_name, label: t('first_name') %>
        <%= user.input :last_name, label: t('last_name') %>
        <%= user.input :document_number , label: t('document_number') %>
        <%= user.input :document_expedition_date, label: t('document_expedition_date'), start_year: Date.today.year - 70 %>
        <%= user.input :phone_number, label: t('phone_number') %>
        <%= user.input :address, label: t('address') %>
        <%= user.input :photo_file, :as => :file , label: t('photo_file') , :hint => image_tag(user.object.photo_file.try(:thumb).try(:url)) %>
        <%= user.input :document_number_file, :as => :file , label: t('document_file') , :hint => link_to(image_tag(user.object.document_number_file.try(:preview).try(:url)),user.object.document_number_file.url, :target => "_blank" ) %>
        <%= user.input :rut_file, :as => :file, label: t('rut_file'), :hint => link_to(image_tag(user.object.rut_file.try(:preview).try(:url)), user.object.rut_file.url, :target => "_blank" ) %>
        <% #user.input :city_id, label: t('city'), :collection => City.all.map{|city| [city.name, city.id]} %>
        <br/>
        <%= user.input :email, label: t('email') %>
        <%= user.input :password, label: t('password') %>
        <%= user.input :password_confirmation, label: t('password_confirmation') %>
        <%= user.input :legal_representative, as: :hidden, input_html: { value: true } %>
      <% end %>
    <% end %>
    <%= f.input :email , label: "Email compañia" %>
    <%= f.input :phone_number, label:"Telefono" %>
    <%= f.input :chamber_of_commerce_file, label:"PDF camara de comercio"  %>
    <%= f.input :rut_file, label:"PDF rut"  %>
    <%= f.input :mining_register_file, label:"PDF registro minero"  %>


  <% end %>
  <%= f.actions  do %>
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>
<% end %>