<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h2>Datos del usuario</h2>
    <h3>
      <strong>
        Nombre:
      </strong>
      <%="#{@user.profile.first_name} #{@user.profile.last_name}" %>
    </h3>

    <h3>
      <strong>
        Numbero de documento:
      </strong>
      <%="#{@user.profile.document_number}" %>
    </h3>
    <h2>Datos de Transaccion</h2>
    <table style="width:400px">
    <tr>
      <td>
        <h4>
          <strong>
            Creditos solicitados:
          </strong>
        </h3>
     </td>
      <td>
        <h5>
          <%= @credit_billing.quantity %>
        </h5>
      </td>
    </tr>
    <tr>
      <td>
        <h4>
          <strong>
            Valor credito:
          </strong>
        </h3>
     </td>
      <td>
        <h5>
          <%= @credit_billing.unit_price %>
        </h5>
      </td>
    </tr>
    <tr>
      <td>
        <h4>
          <strong>
            Subtotal:
          </strong>
        </h3>
     </td>
      <td>
        <h5>
          <%= @credit_billing.quantity * @credit_billing.unit_price %>
        </h5>
      </td>
    </tr>
    <tr>
      <td>
        <h4>
          <strong>
            Descuento:
          </strong>
        </h3>
     </td>
      <td>
        <h5>
          <%= @credit_billing.discount %>
        </h5>
      </td>
    </tr>
    <tr>
      <td>
        <h4>
          <strong>
            TOTAL:
          </strong>
        </h3>
     </td>
      <td>
        <h5>
          <%= @credit_billing.total_amount %>
        </h5>
      </td>
    </tr>

  </table>
  <h2>Pagar en:</h2>
  <p>
    Informacion sobre como debe cancelar el usuario el monto
    <br/>
  </p>
  </body>

</html>